:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.carousel-image {
  height: 18rem;
  width: 100vw;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}

.textCarousel {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.textCarousel2 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {
  .textCarousel {
    font-size: 1.75rem;
  }

  .textCarousel2 {
    font-size: 0.75rem;
  }
}

.bg-body-tertiary {
  background-color: #242424;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.cardPizza {
  padding: 1.5rem;
  margin: 1rem;
}

.cardPizza-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.login-input {
  background-color: white;
  color: black;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.active {
  color: white;
  background-color: #c7b065;
  border-color: #583e05;
  border: 1px solid;
  border-radius: 8px;
}
